body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.counter-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counter-display {
    font-size: 90px;
    margin-bottom: 60px;
    color: #333333;
}

.buttons-container {
    display: inline-flex;
    gap: 30px;
}

button {
    padding: 15px 35px;
    font-size: 14px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 9px;

}

button:hover {
    background-color: #0c5710;
}